.new-progression-container {
  padding: 20px;
  display: grid;
  grid-template-rows: 180px 50px 400px;
}

.progression {
  padding: 10px;
  border: 1px solid black;
  display: flex;
  overflow-x: scroll;
}

.progression .progression-item {
  width: 250px;
  min-width: 250px;
  border: 1px solid black;
  padding: 10px;
  border-radius: 25px;
  text-align: center;
  margin-left: 10px;
}

.progression .progression-item h4 {
  display: inline;
}

.progression-menu-bar ul {
  display: flex;
  list-style-type: none;
  margin-left: -40px;
}

.progression-menu-bar ul li {
  padding: 2px 10px;
  margin-right: 5px;
  border: 1px black solid;
  border-bottom: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.progression-menu-bar ul li:hover {
  background-color: gray;
}

.progression-menu-bar .selected {
  background-color: gray;
}
